Source: swift-menu
Section: misc
Priority: optional
Maintainer: Ryan Kugel <ryanrkugel@gmail.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.6.2
Homepage: https://github.com/ryankugel/swift-menu

Package: swift-menu
Architecture: any
Multi-Arch: foreign
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: Simple root menu for Budgie Panel
 This is a simple root menu applet for Budgie Panel which mimicks the
 appearance of macOS menu.
